<div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" (input)="shareData()" />
  </div>
  
  <div>
    <label for="sexo">Sexo:</label>
    <input type="radio" id="masculino" value="masculino" [(ngModel)]="sexo" (input)="shareData()" />
    <label for="masculino">Masculino</label>
    <input type="radio" id="femenino" value="femenino" [(ngModel)]="sexo" (input)="shareData()" />
    <label for="femenino">Femenino</label>
  </div>
  
  <div>
    <label for="altura">Altura:</label>
    <input type="number" id="altura" [(ngModel)]="altura" (input)="shareData()" />
    <button type="button" (click)="decreaseHeight()">-</button>
    <button type="button" (click)="increaseHeight()">+</button>
  </div>
  
  <div>
    <label for="peso">Peso:</label>
    <input type="number" id="peso" [(ngModel)]="peso" (input)="shareData()" />
    <button type="button" (click)="decreaseWeight()">-</button>
    <button type="button" (click)="increaseWeight()">+</button>
  </div>
  
  <div>
    <button type="button" (click)="clearForm()">Limpiar Formulario</button>
  </div>
  